:root {
    --purple-primary: #6f42c1;
    --purple-hover: #5a32a3;
    --lila-light: #f3eafd;
}

.text-purple {
    color: var(--purple-primary) !important;
}

.btn-purple {
    background-color: var(--purple-primary);
    border-color: var(--purple-primary);
}

.btn-purple:hover {
    background-color: var(--purple-hover);
    border-color: var(--purple-hover);
}

body {
    background-color: var(--lila-light) !important;
}